@import "./reset.scss";
@import "./templates/templates.scss";

page {
  background: #F7F8F9;
  height: 100%;
  box-sizing: border-box;
  font-family: "PingFang SC", "苹方", "Microsoft Yahei", "微软雅黑", Arial, "Helvetica";
}
